.login-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-button{
    padding-top: 30px;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    background-color: deeppink;
    color: white;
    font-size: 15px;
    border: none;
    
}